<style>
    .s-contenedor {
        margin-top: 0.5rem;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        background: #fff;
    }

    .s-centro {
        text-align: center
    }

    .s-derecha {
        text-align: right
    }

    .s-izquierda {
        text-align: left
    }

    .sf-12 {
        font-size: 12px;
    }

    .sf-16 {
        font-size: 16px;
    }

    .sf-104 {
        font-size: 10.4px;
    }

    .sfz-600 {
        font-weight: 600;
    }

    .s-tabla {
        width: 100%;
    }

    .s-first {
        width: 15%;
    }

    .s-last {
        width: 70%;
    }

    .s-fill {
        width: 15%;
    }

    .s-img {
        height: 60px
    }

    .s-img2 {
        width: 60px
    }

    .s-tabla-base {
        margin-top: 5px;
        border-color: #000;
        border-style: solid;
        border-width: 0px 1px 1px;
        max-width: 100%;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }

    .s-base-tb2 {
        margin-top: 8px;
        border-color: #000;
        border-style: solid;
        border-width: 1px 1px 1px;
        max-width: 100%;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }

    .sb-button {
        border-bottom: 1px solid #000;
    }

    .sb-top {
        border-top: 1px solid #000;
    }

    .sb-right {
        border-right: 1px solid #000;
    }

    .s-pd13 {
        padding: 1px 3px;
    }

    .s-w-22 {
        width: 22%;
    }
</style>
<% result?.forEach(function (item) { %>
<div class="s-hojas s-contenedor">
    <div class="p-4 s-centro">
        <table class="s-tabla">
            <tbody>
                <tr>
                    <td class="s-first">
                        <img class="s-img"
                            src="https://res.cloudinary.com/stebann/image/upload/v1681418309/logo-ministerio-educacion_fvcptq.png"
                            alt="Logo" />
                    </td>
                    <td class="s-last">
                        <div class="s-centro">
                            <span class="sfz-600 sf-16">
                                <%= auth.unidadeducativa %>
                            </span><br>
                            <p class="s-centro sf-12">
                                Dirección: <%= auth.direccion %> Teléf: <%= auth.telefono %> <br>
                                <%= auth.ubicacion %>
                            </p>
                        </div>
                    </td>
                    <td class="s-fill s-derecha">
                        <img class="s-img2" src="<%=auth.logo%>" alt="Logo" />
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="s-tabla">
            <tbody>
                <tr>
                    <td class="sf-12 s-izquierda s-w-50">
                        Curso : <b><%= item.curso %> / <%= item.paralelo %></b><br>
                        Asignatura: <b><%= item.materia %></b> <br>
                        Profesor(a): <b><%= item.docente %></b>
                    </td>
                    <td class="sf-12 s-derecha s-w-50">
                        PERIODO: <b><%= item.periodo %></b><br>
                        FECHA: <%= item.fechaA %>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="s-tabla-base">
            <thead>
                <tr>
                    <th class="s-pd13 sf-104 sfz-600 s-izquierda sb-top sb-right">ESTUDIANTES</th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top">TRIM 1</th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top">TRIM 2</th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top">TRIM 3</th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top">PROM </th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top"><b>(90%)</b></th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top"> PRY</th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top"> EVA</th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top"><b> (10%)</b></th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top"><b> PROM</b></th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top"><b>SUPLETORIOS</b></th>
                    <th class="s-pd13 sf-104 sfz-600 s-centro sb-top"><b>PF</b></th>
                </tr>
            </thead>
            <tbody>
                <% item.data.forEach(function (subItems, index) { %>
                <tr>
                    <td class="sb-right sb-top sf-104 s-izquierda"><%= subItems.estudiante %></td>
                    <td class="sb-right sb-top s-centro sf-104"><%= subItems.proAB %></td>
                    <td class="sb-right sb-top s-centro sf-104"><%= subItems.proCD %></td>
                    <td class="sb-right sb-top s-centro sf-104"><%= subItems.proEF %></td>
                    <td class="sb-right sb-top s-centro sf-104"><b><%= subItems.suma1090 %></b></td>
                    <td class="sb-right sb-top s-centro sf-104"><%= subItems.suma90 %></td>
                    <td class="sb-right sb-top s-centro sf-104"><%= subItems.pytf %></td>
                    <td class="sb-right sb-top s-centro sf-104"><%= subItems.examf %></td>
                    <td class="sb-right sb-top s-centro sf-104"><%= subItems.suma10 %></td>
                    <td class="sb-right sb-top s-centro sf-104"><b><%= subItems.promGen %></b></td>
                    <td class="sb-right sb-top s-centro sf-104"><%= subItems.supletorio %></td>
                    <td class="sb-top s-centro sf-104"><b><%= subItems.final %></b></td>
                </tr>
                <% }) %>
                <tr>
                    <td class="s-pd13 sb-top sf-104"> <b>PROMEDIO</b></td>
                    <td class="s-pd13 sb-top sf-104 s-centro"><b><%=item.pPPA %></b></td>
                    <td class="s-pd13 sb-top sf-104 s-centro"><b><%=item.pPPB %></b></td>
                    <td class="s-pd13 sb-top sf-104 s-centro"><b><%=item.pPPC %></b></td>
                    <td class="s-pd13 sb-top"></td>
                    <td class="s-pd13 sb-top"></td>
                    <td class="s-pd13 sb-top"></td>
                    <td class="s-pd13 sb-top"></td>
                    <td class="s-pd13 sb-top"></td>
                    <td class="s-pd13 sb-top s-centro sf-104"><b><%=item.prABGen %></b></td>
                    <td class="s-pd13 sb-top"></td>
                    <td class="s-pd13 sb-top s-centro sf-104"><b><%=item.prAB %></b></td>
                </tr>
            </tbody>
        </table>
        <table class="s-tabla">
            <tbody>
                <tr>
                    <td class="s-w-22">
                        <table class="s-base-tb2">
                            <thead class="s-centro sf-104">
                                <th></th>
                                <th>DA</th>
                                <th>AA</th>
                                <th>PA</th>
                                <th>NA</th>
                            </thead>
                            <% if (ops.q1) { %>
                            <tbody>
                                <tr class="s-centro sf-104">
                                    <td class="sb-top"><b>Ʃ</b></td>
                                    <td class="sb-top"><%=item.medAB[0]%></td>
                                    <td class="sb-top"><%=item.medAB[1]%> </td>
                                    <td class="sb-top"> <%=item.medAB[2]%></td>
                                    <td class="sb-top"> <%=item.medAB[3]%></td>
                                </tr>
                                <tr class="s-centro sf-104">
                                    <td class="sb-top"> <b>%</b></td>
                                    <td class="sb-top"><%=Math.round((item.medAB[0] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%=Math.round((item.medAB[1] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%=Math.round((item.medAB[2] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%=Math.round((item.medAB[3] /item.data.length) *100)%>% </td>
                                </tr>
                            </tbody>
                            <% } %>
                        </table>
                    </td>
                    <td class="s-w-22">
                        <% if (ops.q2) { %>
                        <table class="s-base-tb2">
                            <thead class="s-centro sf-104">
                                <th></th>
                                <th>DA</th>
                                <th>AA</th>
                                <th>PA</th>
                                <th>NA</th>
                            </thead>
                            <tbody>
                                <tr class="s-centro sf-104">
                                    <td class="sb-top"> <b>Ʃ</b></td>
                                    <td class="sb-top"><%=item.medCD[0]%></td>
                                    <td class="sb-top"><%=item.medCD[1]%></td>
                                    <td class="sb-top"><%=item.medCD[2]%></td>
                                    <td class="sb-top"><%=item.medCD[3]%></td>
                                </tr>
                                <tr class="s-centro sf-104">
                                    <td class="sb-top"><b>%</b></td>
                                    <td class="sb-top"><%=Math.round((item.medCD[0] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%=Math.round((item.medCD[1] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%=Math.round((item.medCD[2] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%=Math.round((item.medCD[3] /item.data.length) *100)%>% </td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </td>
                    <td class="s-w-22">
                        <% if (ops.q2) { %>
                        <table class="s-base-tb2">
                            <thead class="s-centro sf-104">
                                <th></th>
                                <th>DA</th>
                                <th>AA</th>
                                <th>PA</th>
                                <th>NA</th>
                            </thead>
                            <tbody>
                                <tr class="s-centro sf-104">
                                    <td class="sb-top"><b>Ʃ</b></td>
                                    <td class="sb-top"><%=item.medEF[0]%></td>
                                    <td class="sb-top"><%=item.medEF[1]%> </td>
                                    <td class="sb-top"><%=item.medEF[2]%></td>
                                    <td class="sb-top"><%=item.medEF[3]%></td>
                                </tr>
                                <tr class="s-centro sf-104">
                                    <td class="sb-top"> <b>%</b></td>
                                    <td class="sb-top"><%=Math.round((item.medEF[0] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%=Math.round((item.medEF[1] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%=Math.round((item.medEF[2] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%=Math.round((item.medEF[3] /item.data.length) *100)%>% </td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </td>
                    <td class="s-w-22">
                        <% if (ops.q2 &&ops.q1) { %>
                        <table class="s-base-tb2">
                            <thead class="s-centro sf-104">
                                <th></th>
                                <th>DA</th>
                                <th>AA</th>
                                <th>PA</th>
                                <th>NA</th>
                            </thead>
                            <tbody>
                                <tr class="s-centro sf-104">
                                    <td class="sb-top"> <b>Ʃ</b></td>
                                    <td class="sb-top"><%= item.medGE[0] %></td>
                                    <td class="sb-top"><%= item.medGE[1] %> </td>
                                    <td class="sb-top"> <%= item.medGE[2] %></td>
                                    <td class="sb-top"> <%= item.medGE[3] %></td>
                                </tr>
                                <tr class="s-centro sf-104">
                                    <td class="sb-top"> <b>%</b></td>
                                    <td class="sb-top"><%= Math.round((item.medGE[0] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medGE[1] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medGE[2] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medGE[3] /item.data.length) *100) %>% </td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </td>
                    <td class="sf-12" style="width: 12%;">
                        <br>_______________________ <br>
                        FIRMA TUTOR
                    </td>
                </tr>
                <br>
            </tbody>
        </table>
    </div>
    <div style="page-break-before:always;"></div>
</div>
<% }) %>