<style>
    .s-contenedor {
        margin-top: 0.5rem;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        background: #fff;
    }

    .s-centro {
        text-align: center
    }

    .s-derecha {
        text-align: right
    }

    .s-izquierda {
        text-align: left
    }

    .sf-104 {
        font-size: 10.4px;
    }

    .sf-12 {
        font-size: 12px;
    }

    .sf-14 {
        font-size: 14px;
    }

    .sf-16 {
        font-size: 16px;
    }

    .sf-20 {
        font-size: 20px;
    }

    .sfz-600 {
        font-weight: 600;
    }

    .s-parrafo {
        text-align: justify;
        line-height: 1.5;
    }

    .s-tabla {
        width: 100%;
    }

    .s-base-tb {
        margin-top: 28px;
        border-color: #000;
        border-style: solid;
        border-width: 0px 1px 1px;
        max-width: 100%;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }

    .s-first {
        width: 15%;
    }

    .s-last {
        width: 70%;
    }

    .s-fill {
        width: 15%;
    }

    .s-img {
        height: 60px
    }

    .s-img2 {
        width: 60px
    }

    .s-w-50 {
        width: 50%;
    }

    .s-w-33 {
        width: 33%;
    }

    .s-w-30 {
        width: 30%;
    }

    .s-w-25 {
        width: 25%;
    }

    .sb-button {
        border-bottom: 1px solid #000;
    }

    .sb-top {
        border-top: 1px solid #000;
    }

    .sb-right {
        border-right: 1px solid #000;
    }

    .s-pd13 {
        padding: 1px 3px;
    }

    .s-pd23 {
        padding: 2px 3px;
    }

    .s-pd01 {
        padding: 0px 1px;
    }
</style>
<% result.forEach(function (item) { %>
<div class="s-hojas s-contenedor">
    <div class="p-4 s-centro">
        <table class="s-tabla">
            <tbody>
                <tr>
                    <td class="s-first">
                        <img class="s-img"
                            src="https://res.cloudinary.com/stebann/image/upload/v1681418309/logo-ministerio-educacion_fvcptq.png"
                            alt="Logo" />
                    </td>
                    <td class="s-last">
                        <div class="s-centro">
                            <span class="sfz-600 sf-16">
                                <%= auth.unidadeducativa %>
                            </span><br>
                            <p class="s-centro sf-12">
                                Dirección: <%= auth.direccion %> Teléf: <%= auth.telefono %> <br>
                                <%= auth.ubicacion %>
                            </p>
                        </div>
                    </td>
                    <td class="s-fill s-derecha">
                        <img class="s-img2" src="<%=auth.logo%>" alt="Logo" />
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="s-tabla">
            <tbody>
                <tr class="sf-12">
                    <td class="s-izquierda s-w-50">
                        CURSO : <b><%= item.curso %> / <%= item.paralelo %></b> <br>
                        ESTUDIANTE: <b><%= item.nombre %></b>
                    </td>

                    <td class="s-derecha s-w-50">
                        PERIODO: <b><%= item.periodo%></b><br>
                        CÓDIGO: <b><%= item.nmatricula %></b><br>
                        FECHA: <%= item.fechaA %>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="s-centro" style="margin-top: 2rem;">
            <p class="sfz-600 sf-14"> CALIFICACIONES FINALES</p>
        </div>
        <table class="s-base-tb">
            <thead>
                <tr class="sf-104 sfz-600">
                    <th class="s-centro sb-top sb-right s-pd13" style="min-width: 180px;"> ASIGNATURAS</th>
                    <th class="s-centro sb-top sb-right s-pd13">TRIMESTRES</th>
                    <th class="s-centro sb-top sb-right s-pd13"> EVAL</th>
                    <th class="s-centro sb-top sb-right s-pd13"> RECUP </th>
                    <th class="s-centro sb-top sb-right s-pd13"> PROM</th>
                    <th class="s-centro sb-top s-pd13"> OBSERVACIÓN</th>
                </tr>
                <tr>
                    <th class="s-pd23 sb-right sb-button"></th>
                    <th class="s-pd23 sb-right sb-button sb-top s-centro" style="min-width: 120px;">
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sfz-600 sf-104 s-centro">
                                    <td class="s-w-33">I</td>
                                    <td class="s-w-33">II</td>
                                    <td class="s-w-33">III</td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                    <th class="s-pd23 sb-right sb-button s-w-30"> </th>
                    <th class="s-pd23 sb-right sb-button s-w-25"></th>
                    <th class="s-pd23 sb-right sb-button sb-top s-w-30 sfz-600 sf-104 s-centro">
                        Final
                    </th>
                    <th class="s-pd23 sb-button" style="min-width: 120px;"></th>
                </tr>
            </thead>
            <tbody>
                <% item?.data?.forEach(function (subItems, index) { %>
                <% if (subItems.computo == 2) { %>
                <tr>
                    <td class="s-pd13 sb-right sf-104 s-izquierda"> <%= subItems.materia %></td>
                    <td class="s-pd13 sb-right s-centro">
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sf-104 s-centro">
                                    <td class="s-w-33 s-pd01">
                                        <%= subItems.lc1 %>
                                    </td>
                                    <td class="s-w-33 s-pd01">
                                        <%= subItems.lc2 %>
                                    </td>
                                    <td class="s-w-33 s-pd01">
                                        <%= subItems.lc3 %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="s-pd13 sb-right s-centro sf-104">
                        <%= subItems.lcp %>
                    </td>
                    <td class="s-pd13 sb-right s-w-25"></td>
                    <td class="s-pd13 sb-right sf-104 s-centro sfz-600">
                        <%= subItems.lcf %>
                    </td>
                    <td class="s-pd13 sf-104 s-centro"> <%= subItems.letras %> </td>
                </tr>
                <% } %>
                <% }) %>
                <tr>
                    <td class="s-pd13 sb-top sfz-600 sf-104" style="font-size: 11px;">PROMEDIO</td>
                    <td class="s-pd13 sb-top"> </td>
                    <td class="s-pd13 sb-top"></td>
                    <td class="s-pd13 sb-top"></td>
                    <td class="s-pd13 sb-top sfz-600 sf-104 s-centro"><%=item.promff%></td>
                    <td class="s-pd13 sb-top sf-104 sfz-600"><%=item.letras%></td>
                </tr>

                <% item?.data?.forEach(function (subItems, index) { %>
                <% if (subItems.computo == 1) { %>
                <tr>
                    <td class="s-pd13 sb-right sf-104 s-izquierda sb-top"> <%= subItems.materia %></td>
                    <td class="s-pd13 sb-right s-centro sb-top">
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sf-104 s-centro">
                                    <td class="s-w-33 s-pd01">
                                        <%= subItems.ll1 %>
                                    </td>
                                    <td class="s-w-33 s-pd01">
                                        <%= subItems.ll2 %>
                                    </td>
                                    <td class="s-w-33 s-pd01">
                                        <%= subItems.ll3 %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="s-pd13 sb-right s-centro sb-top">
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sf-104 s-centro">
                                    <td class="s-w-50 s-pd01">
                                        <%= subItems.llp %>
                                    </td>
                                    <td class="s-w-50 s-pd01">
                                        <%= subItems.lle %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="s-pd13 sb-right sb-top sb-top"></td>
                    <td class="s-pd13 sb-right sf-104 s-centro sb-top">
                        <%= subItems.llf %>
                    </td>
                    <td class="s-pd13 sf-104 s-centro sb-top"> <%= subItems.letras2 %> </td>
                </tr>
                <% } %>
                <% }) %>

                <% item?.data2?.forEach(function (subItems, index) { %>
                    <tr>
                        <td class="s-pd13 sb-right sf-104 s-izquierda sb-top"> <%= subItems.materia %></td>
                        <td class="s-pd13 sb-right s-centro sb-top">
                            <table class="s-tabla">
                                <tbody>
                                    <tr class="sf-104 s-centro">
                                        <td class="s-w-33 s-pd01">
                                            <%= subItems.p1 %>
                                        </td>
                                        <td class="s-w-33 s-pd01">
                                            <%= subItems.p2 %>
                                        </td>
                                        <td class="s-w-33 s-pd01">
                                            <%= subItems.p3 %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="s-pd13 sb-right s-centro sb-top">
                            <table class="s-tabla">
                                <tbody>
                                    <tr class="sf-104 s-centro">
                                        <td class="s-w-50 s-pd01">
                                            <%= subItems.llp %>
                                        </td>
                                        <td class="s-w-50 s-pd01">
                                            <%= subItems.lle %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="s-pd13 sb-right sb-top sb-top"></td>
                        <td class="s-pd13 sb-right sf-104 s-centro sb-top">
                            <%= subItems.promGen %>
                        </td>
                        <td class="s-pd13 sf-104 s-centro sb-top"> <%= subItems.letras %> </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <div style="margin-top: 5rem;">
            <table class="s-tabla">
                <tbody>
                    <tr>
                        <td colspan="6">
                            <div class="s-centro">
                                <b>______________________________</b><br>
                                <p class="sf-14">
                                    <b><%= auth.rector %></b><br>
                                    RECTOR/A
                                </p>
                            </div>
                        </td>
                        <td colspan="6">
                            <div class="s-centro">
                                <b>_____________________________</b><br>
                                <p class="sf-14">
                                    <b><%= auth.secretario %></b><br>
                                    SECRETARIO/A
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="page-break-before:always;"></div>
</div>
<% }) %>