<style>
    .s-contenedor {
        margin-top: 0.5rem;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        background: #fff;
    }

    .s-centro {
        text-align: center
    }

    .s-derecha {
        text-align: right
    }

    .s-izquierda {
        text-align: left
    }

    .sf-12 {
        font-size: 12px;
    }

    .sf-14 {
        font-size: 14px;
    }

    .sf-16 {
        font-size: 16px;
    }

    .sf-20 {
        font-size: 20px;
    }

    .sf-104 {
        font-size: 10.4px;
    }

    .sf-8 {
        font-size: 8px;
    }

    .sfz-600 {
        font-weight: 600;
    }

    .s-parrafo {
        text-align: justify;
        line-height: 1.5;
    }

    .s-tabla {
        width: 100%;
    }

    .s-p-justify {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }

    .s-first {
        width: 15%;
    }

    .s-last {
        width: 70%;
    }

    .s-fill {
        width: 15%;
    }

    .s-img {
        height: 60px
    }

    .s-img2 {
        width: 60px
    }

    .s-contenido {
        flex: 0 0 auto;
        width: 91%;
        margin-top: 13px;
        margin-right: auto;
        margin-left: auto;
    }

    .s-tabla-base {
        border-color: #000;
        border-style: solid;
        border-width: 0px 1px 1px;
        max-width: 100%;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }

    .sb-button {
        border-bottom: 1px solid #000;
    }

    .sb-top {
        border-top: 1px solid #000;
    }

    .sb-right {
        border-right: 1px solid #000;
    }

    .s-pading {
        padding: 8px 10px;
    }

    .s-pading3 {
        padding: 2px 3px;
    }

    .s-pading2 {
        padding: 1px 3px;
    }

    .s-pading4 {
        padding: 0px 2px;
    }

    .s-pading01 {
        padding: 0px 1px;
    }

    .s-mayus {
        text-transform: uppercase;
    }

    .s-w-25 {
        width: 25%;
    }

    .s-w-20 {
        width: 20%;
    }

    .s-w-16-5 {
        width: 16.5%;
    }
</style>
<% result?.forEach(function (item) { %>
<div class="s-hojas s-contenedor">
    <div class="p-4 s-centro">
        <table class="s-tabla">
            <tbody>
                <tr>
                    <td class="s-first">
                        <img class="s-img"
                            src="https://res.cloudinary.com/stebann/image/upload/v1681418309/logo-ministerio-educacion_fvcptq.png"
                            alt="Logo" />
                    </td>
                    <td class="s-last">
                        <div class="s-centro">
                            <span class="sfz-600 sf-16">
                                <%= auth.unidadeducativa %>
                            </span><br>
                            <p class="s-centro sf-12">
                                Dirección: <%= auth.direccion %> Teléf: <%= auth.telefono %> <br>
                                <%= auth.ubicacion %>
                            </p>
                        </div>
                    </td>
                    <td class="s-fill">
                        <img class="s-img2" src="<%=auth.logo%>" alt="Logo" />
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="s-tabla">
            <tbody>
                <tr class="s-izquierda sf-12">
                    <td style="width: 45%;">
                        <span>CURSO : <b><%= item.curso %> / <%= item.paralelo
                                %></b></span> <br>
                        <span>ESTUDIANTE: <b><%= item.nombre %></b></span>
                    </td>
                    <td style="width: 10%;">
                        <div class="s-centro">
                            CÓDIGO : <%= item.nmatricula %>
                        </div>
                    </td>
                    <td style="width: 45%;" class="s-derecha">
                        <span>PERIODO: <b><%= item.periodo %></b></span><br>
                        <span>FECHA: <b> <%= item.fechaA %></b></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="s-tabla s-tabla-base">
            <thead>
                <tr>
                    <th class="s-pading4 sb-top sb-right"></th>
                    <th class="s-pading4 sb-top"></th>
                    <th class="s-pading4 sb-top s-centro s-mayus sf-104 sfz-600">
                        <span><%= ops.quimestre %></span>
                    </th>
                    <th class="s-pading4 sb-top"></th>
                </tr>
                <tr>
                    <th class="sb-right s-pading2"> </th>
                    <th class="s-pading2"></th>
                    <th class="s-pading2 s-centro sf-104 sfz-600">
                        Actividades formativas 90%
                    </th>
                    <th class="s-pading2 s-centro sf-104 sfz-600">
                        SUM 10%
                    </th>
                </tr>
                <tr>
                    <th class="s-pading2 s-centro sfz-600 sf-104 sb-right">
                        ASIGNATURAS
                    </th>
                    <th class="s-pading2 s-centro sfz-600 sf-104">
                        ACT. INDIVIDUALES
                    </th>
                    <th class="s-pading2 s-centro sfz-600 sf-104">
                        ACT. GRUPALES
                    </th>
                    <th class="s-pading2 s-centro sfz-600 sf-104">
                        RESULTADOS
                    </th>
                </tr>
                <tr>
                    <th class="s-pading3 sb-right sb-button"></th>
                    <th class="s-pading3 sf-104 sb-button sfz-600 s-centro s-w-25">
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sf-104">
                                    <td>Ins.1</td>
                                    <td>Ins.2</td>
                                    <td>Ins.3</td>
                                    <td>Ins.4</td>
                                    <td> <b>PR</b> </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                    <th class="sb-button s-pading3 sf-104 sfz-600 s-centro s-w-25">
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sf-104">
                                    <td>Ins.1</td>
                                    <td>Ins.2</td>
                                    <td>Ins.3</td>
                                    <td>Ins.4</td>
                                    <td> <b>PR</b> </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                    <th class="sb-button s-pading3 sf-104 sfz-600 s-centro s-w-25">
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sf-104">
                                    <td class="s-w-16-5">EQ</td>
                                    <td class="s-w-16-5">PY</td>
                                    <td class="s-w-16-5">EX</td>
                                    <td class="s-w-16-5">EQ</td>
                                    <td class="s-w-16-5"><b>PR</b></td>
                                    <td class="s-w-16-5"><b>CU</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
            </thead>

            <tbody>
                <!--//TODO PINTAR MATERIAS CUANTITATIVAS DE NUMEROS -->
                <% item.data.forEach(function (subItems) { %>
                <% if (subItems.computo== 2) { %>
                <tr>
                    <td class="s-pading2 sb-right sf-104 s-izquierda">
                        <%= subItems.materia %></td>
                    <td class="s-pading2 sb-right s-centro">
                        <% if (ops.q1) { %>
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sf-104">
                                    <td class="s-pading01 s-w-20"><%= subItems.n1 %></td>
                                    <td class="s-pading01 s-w-20"><%= subItems.n2 %></td>
                                    <td class="s-pading01 s-w-20"><%= subItems.n3 %></td>
                                    <td class="s-pading01 s-w-20"><%= subItems.n4 %></td>
                                    <td class="s-pading01 s-w-20 s-derecha">
                                        <b><%= subItems.ppa %></b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </td>
                    <td class="s-pading2 sb-right s-centro">
                        <% if (ops.q2) { %>
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sf-104">
                                    <td class="s-pading01 s-w-20"><%= subItems.n6 %></td>
                                    <td class="s-pading01 s-w-20"><%= subItems.n7 %></td>
                                    <td class="s-pading01 s-w-20"><%= subItems.n8 %></td>
                                    <td class="s-pading01 s-w-20"><%= subItems.n9 %></td>
                                    <td class="s-pading01 s-w-20 s-derecha">
                                        <b><%= subItems.ppb %></b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </td>
                    <td class="s-pading2 s-centro">
                        <% if (ops.q2 &&ops.q1) { %>
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sf-104">
                                    <td class="s-pading01 s-w-16-5"> <%= subItems.sumAB90 %></td>
                                    <td class="s-pading01 s-w-16-5"> <%= subItems.pry1 %></td>
                                    <td class="s-pading01 s-w-16-5"> <%= subItems.exa1 %></td>
                                    <td class="s-pading01 s-w-16-5"> <%= subItems.sumAB10 %></td>
                                    <td class="s-pading01 s-w-16-5"> <b><%= subItems.proAB %></b></td>
                                    <td class="s-pading01 s-w-16-5"> <%= subItems.letras %></td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </td>
                </tr>
                <% } %>
                <% }) %>

                <!--//TODO PINTAR PROMEDIOS GENERALES -->
                <tr>
                    <td class="sf-104 sb-top s-pading2">
                        <b>PROMEDIO</b>
                    </td>
                    <td class="sf-104 sb-top s-pading2 s-derecha">
                        <span><% if (ops.q1) { %> <b><%=item.pPPA %></b>&nbsp; <% } %></span>
                    </td>
                    <td class="sf-104 sb-top s-pading2 s-derecha">
                        <span><% if (ops.q2) { %> <b><%=item.pPPB %></b> &nbsp;<% } %></span>
                    </td>
                    <td class="sf-104 sb-top s-pading2 s-centro">
                        <% if (ops.q2 &&ops.q1) { %>
                        <table class="s-tabla">
                            <tbody>
                                <tr class="sf-104">
                                    <td class="s-w-16-5"></td>
                                    <td class="s-w-16-5"></td>
                                    <td class="s-w-16-5"></td>
                                    <td class="s-w-16-5"></td>
                                    <td class="s-w-16-5">
                                        <b><%=item.pgeneral %></b>
                                    </td>
                                    <td class="s-w-16-5"></td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </td>
                </tr>

                <!--//TODO PINTAR MATERIAS CUALITATIVAS -->
                <% item.data.forEach(function (subItems) { %>
                <% if (subItems.computo!= 2) { %>
                <tr>
                    <td class="sf-104 sb-top s-pading2 s-izquierda sb-right">
                        <%= subItems.materia %>
                    </td>
                    <td class="sf-104 sb-top s-pading2 s-centro sb-right">
                        <% if (ops.q1) { %>
                            <%= subItems.letrasp1 %>
                        <% } %>
                    </td>
                    <td class="sf-104 sb-top s-pading2 s-centro sb-right">
                        <% if (ops.q2) { %>
                            <%= subItems.letrasp2 %>
                        <% } %>
                    </td>
                    <td class="sf-104 sb-top s-pading2 s-centro">
                        <% if (ops.q2 &&ops.q1) { %>
                        <b><%= subItems.letraspf %> </b>
                        <% } %>
                    </td>
                </tr>
                <% } %>
                <% }) %>

                <!--//TODO PINTAR COMPORTAMIENTO PROYECTOS ESCOLARES DHI -->
                <% item.data2.forEach(function (subItems) { %>
                <tr>
                    <td class="sf-104 sb-top s-pading2 s-izquierda sb-right">
                        <%= subItems.materia %>
                    </td>
                    <td class="sf-104 sb-top s-pading2 s-centro sb-right">
                        <% if (ops.q1) { %>
                            <%= subItems.pp1 %>
                        <% } %>
                    </td>
                    <td class="sf-104 sb-top s-pading2 s-centro sb-right">
                        <% if (ops.q2) { %>
                            <%= subItems.pp2 %>
                        <% } %>
                    </td>
                    <td class="sf-104 sb-top s-pading2 s-centro">
                        <% if (ops.q2 &&ops.q1) { %>
                        <b><%= subItems.letras %> </b>
                        <% } %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <table class="s-tabla s-tabla-base">
            <tbody>
                <tr>
                    <td class="sb-right s-izquierda sf-8">
                        <b>Escala de Calificaciones Art. 194, reformado, Decreto
                            presidencial No. 366-13 (Art.9)</b>
                        <table class="s-tabla">
                            <tbody>
                                <tr>
                                    <td class="sf-8 s-izquierda">
                                        DA = Domina Aprend.(10-9) <br>
                                        NA = No Alcanza(&lt;=4) <br>
                                        C = Poco Satisfactorio
                                    </td>
                                    <td class="sf-8 s-izquierda">
                                        AA = Alcanza Aprend.(7-8.99) <br>
                                        A = Muy Satisfactorio <br>
                                        D = Mejorable
                                    </td>
                                    <td class="sf-8 s-izquierda">
                                        PA = Próximo Alcanzar(4.01-6.99) <br>
                                        B = Satisfactorio <br>
                                        E = Insatisfactorio
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="sf-8 s-izquierda">
                        <b>Evaluación Comportamiento: Art. 222- R/LOEI para sana
                            convivencia social</b>
                        <table class="s-tabla">
                            <tbody>
                                <tr>
                                    <td class="sf-8 s-izquierda">
                                        A = Muy Satisfactorio <br>
                                        B = Satisfactorio <br>
                                        C = Poco Satisfactorio <br>
                                        D = Mejorable <br>
                                        E = Insatisfactorio
                                    </td>
                                    <td class="sf-8 s-izquierda">
                                        Lidera el cumplimiento compromisos establecidos
                                        <br>
                                        Cumple con los compromisos establecidos <br>
                                        Falla ocasionalmente compromisos establecidos
                                        <br>
                                        Falla reiteradamente los compromisos establecidos <br>
                                        No cumple los compromisos establecidos
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top: 2rem;">
            <div class="s-centro">
                <span>
                    <b>_____________________________</b>
                </span> <br>
                <p class="sf-104">
                    DOCENTE/TUTOR
                </p>
            </div>
        </div>
    </div>
    <div style="page-break-before:always;"></div>
</div>
<% }) %>