<style>
    .s-contenedor {
        margin-top: 0.5rem;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        background: #fff;
    }

    .s-centro {
        text-align: center
    }

    .s-derecha {
        text-align: right
    }

    .s-izquierda {
        text-align: left
    }

    .sf-96 {
        font-size: 9.6px;
    }

    .sf-104 {
        font-size: 10.4px;
    }

    .sf-12 {
        font-size: 12px;
    }

    .sf-14 {
        font-size: 14px;
    }

    .sf-16 {
        font-size: 16px;
    }

    .sfz-600 {
        font-weight: 600;
    }

    .s-parrafo {
        text-align: justify;
        line-height: 1.5;
    }

    .s-tabla {
        width: 100%;
    }

    .s-base-tb {
        margin-top: 5px;
        border-color: #000;
        border-style: solid;
        border-width: 0px 1px 1px;
        max-width: 100%;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }

    .s-base-tb2 {
        margin-top: 8px;
        border-color: #000;
        border-style: solid;
        border-width: 1px 1px 1px;
        max-width: 100%;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }

    .s-tabla-vertical {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    .s-first {
        width: 15%;
    }

    .s-last {
        width: 70%;
    }

    .s-fill {
        width: 15%;
    }

    .s-img {
        height: 60px
    }

    .s-img2 {
        width: 60px
    }

    .sb-button {
        border-bottom: 1px solid #000;
    }

    .sb-top {
        border-top: 1px solid #000;
    }

    .sb-right {
        border-right: 1px solid #000;
    }

    .sb-left {
        border-left: 1px solid #000;
    }

    .s-pd13 {
        padding: 1px 3px;
    }

    .s-pd23 {
        padding: 2px 3px;
    }

    .s-w-50 {
        width: 50%;
    }

    .s-w-22 {
        width: 22%;
    }
</style>
<% result.forEach(function (item) { %>
<div class="s-hojas s-contenedor">
    <div class="p-4 s-centro">
        <table class="s-tabla">
            <tbody>
                <tr>
                    <td class="s-first">
                        <img class="s-img" src="https://res.cloudinary.com/stebann/image/upload/v1681418309/logo-ministerio-educacion_fvcptq.png" alt="Logo" />
                    </td>
                    <td class="s-last">
                        <div class="s-centro">
                            <span class="sfz-600 sf-16"> <%= auth.unidadeducativa %></span><br>
                            <p class="s-centro sf-12">
                                Dirección: <%= auth.direccion %> Teléf: <%= auth.telefono %> <br> <%= auth.ubicacion %>
                            </p>
                        </div>
                    </td>
                    <td class="s-fill">
                        <img class="s-img2" src="<%=auth.logo%>" alt="Logo" />
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="s-tabla">
            <tbody>
                <tr>
                    <td class="s-w-50 sf-12 s-izquierda">
                        Curso : <b><%= item.curso %> / <%= item.paralelo %></b>
                        <br>
                        Asignatura: <b><%= item.materia %></b> <br>
                        Profesor(a): <b><%= item.docente %></b>
                    </td>
                    <td class="s-w-50 sf-12 s-derecha">
                        PERIODO: <b><%= item.periodo %></b><br>
                        FECHA: <%= item.fechaA %>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="s-base-tb">
            <thead>
                <tr>
                    <th class="s-pd13 sf-104 sfz-600 sb-right sb-top sb-button s-centro">
                        N°
                    </th>
                    <th class="s-pd13 sf-104 sfz-600 sb-right sb-top sb-button s-centro">
                        ESTUDIANTES
                    </th>
                    <th class="s-pd13 sf-104 sfz-600 sb-right sb-top sb-button s-centro">
                        PRIMER TRIMESTRE
                    </th>
                    <th class="s-pd13 sf-104 sfz-600 sb-right sb-top sb-button s-centro">
                        SEGUNDO TRIMESTRE
                    </th>
                    <th class="s-pd13 sf-104 sfz-600 sb-right sb-top sb-button s-centro">
                        TERCER TRIMESTRE
                    </th>
                    <th class="s-pd13 sf-104 sfz-600 sb-top sb-button s-centro">
                        RESULTADOS
                    </th>
                </tr>
            </thead>
            <tbody>
                <% item.data.forEach(function (subItems, index) { %>
                <tr>
                    <td class="s-pd13 sb-right sf-104 sb-button">
                        <%= index + 1 %></td>
                    <td class="s-pd13 sb-right sf-104 sb-button s-izquierda">
                        <%= subItems.estudiante %></td>
                    <td class="s-pd13 sb-right sf-104 sb-button s-centro">
                        <%=subItems.p1%>
                    </td>
                    <td class="s-pd13 sb-right sf-104 sb-button s-centro">
                        <%=subItems.p2%>
                    </td>
                    <td class="s-pd13 sb-right sf-104 sb-button s-centro">
                        <%=subItems.p3%>
                    </td>
                    <td class="s-pd13 sf-104 sb-button s-centro sfz-600">
                        <%=subItems.letras%>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <!-- TODO AQUI EN EL CASO QUE SE NECESITE DHI Y PROYECTOS ESOLARES -->

        <table class="s-tabla">
            <tbody>
                <tr>
                    <td class="s-w-22">
                        <table class="s-base-tb2">
                            <thead class="sf-104 s-centro">
                                <th></th>
                                <th>A</th>
                                <th>B</th>
                                <th>C</th>
                                <th>D</th>
                                <th>E</th>
                            </thead>
                            <% if (ops.q1) { %>
                            <tbody>
                                <tr class="sf-104 s-centro">
                                    <td class="sb-top sfz-600">Ʃ </td>
                                    <td class="sb-top"><%= item.medPPA[0] %></td>
                                    <td class="sb-top"><%= item.medPPA[1] %> </td>
                                    <td class="sb-top"> <%=item.medPPA[2] %></td>
                                    <td class="sb-top"> <%= item.medPPA[3] %></td>
                                    <td class="sb-top"> <%= item.medPPA[4] %></td>
                                </tr>
                                <tr class="sf-104 s-centro">
                                    <td class="sb-top sfz-600">% </td>
                                    <td class="sb-top"><%=Math.round((item.medPPA[0] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPA[1] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPA[2] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPA[3] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPA[4] /item.data.length) *100) %>% </td>
                                </tr>
                            </tbody>
                            <% } %>
                        </table>
                    </td>
                    <td class="s-w-22">
                        <table class="s-base-tb2">
                            <thead class="sf-104 s-centro">
                                <th></th>
                                <th>A</th>
                                <th>B</th>
                                <th>C</th>
                                <th>D</th>
                                <th>E</th>
                            </thead>
                            <% if (ops.q1) { %>
                            <tbody>
                                <tr class="sf-104 s-centro">
                                    <td class="sb-top sfz-600">Ʃ</td>
                                    <td class="sb-top"><%=item.medPPB[0] %></td>
                                    <td class="sb-top"><%= item.medPPB[1] %> </td>
                                    <td class="sb-top"> <%= item.medPPB[2]%></td>
                                    <td class="sb-top"> <%= item.medPPB[3]%></td>
                                    <td class="sb-top"> <%=item.medPPB[4] %></td>
                                </tr>
                                <tr class="sf-104 s-centro">
                                    <td class="sb-top sfz-600">%</td>
                                    <td class="sb-top"><%= Math.round((item.medPPB[0] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPB[1] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPB[2] /item.data.length) *100)%>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPB[3] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPB[4] /item.data.length) *100) %>% </td>
                                </tr>
                            </tbody>
                            <% } %>
                        </table>
                    </td>
                    <td class="s-w-22">
                        <table class="s-base-tb2">
                            <thead class="sf-104 s-centro">
                                <th></th>
                                <th>A</th>
                                <th>B</th>
                                <th>C</th>
                                <th>D</th>
                                <th>E</th>
                            </thead>
                            <% if (ops.q1) { %>
                            <tbody>
                                <tr class="sf-104 s-centro">
                                    <td class="sb-top sfz-600">Ʃ</td>
                                    <td class="sb-top"><%=item.medPPC[0] %></td>
                                    <td class="sb-top"><%=item.medPPC[1]%> </td>
                                    <td class="sb-top"><%= item.medPPC[2] %></td>
                                    <td class="sb-top"><%= item.medPPC[3]%></td>
                                    <td class="sb-top"><%= item.medPPC[4] %></td>
                                </tr>
                                <tr class="sf-104 s-centro">
                                    <td class="sb-top sfz-600"></td>
                                    <td class="sb-top"><%= Math.round((item.medPPC[0] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPC[1] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPC[2] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPC[3] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medPPC[4] /item.data.length) *100) %>% </td>
                                </tr>
                            </tbody>
                            <% } %>
                        </table>
                    </td>
                    <td class="s-w-22">
                        <% if (ops.q2 &&ops.q1) { %>
                        <table class="s-base-tb2">
                            <thead class="sf-104 s-centro">
                                <th></th>
                                <th>A</th>
                                <th>B</th>
                                <th>C</th>
                                <th>D</th>
                                <th>E</th>
                            </thead>
                            <tbody>
                                <tr class="sf-104 s-centro">
                                    <td class="sb-top sfz-600">Ʃ</td>
                                    <td class="sb-top"><%= item.medAB[0] %></td>
                                    <td class="sb-top"><%= item.medAB[1]%> </td>
                                    <td class="sb-top"> <%= item.medAB[2] %></td>
                                    <td class="sb-top"> <%=item.medAB[3] %></td>
                                    <td class="sb-top"> <%= item.medAB[4] %></td>
                                </tr>
                                <tr class="sf-104 s-centro">
                                    <td class="sb-top sfz-600">%</td>
                                    <td class="sb-top"><%=Math.round((item.medAB[0] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medAB[1] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medAB[2] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medAB[3] /item.data.length) *100) %>% </td>
                                    <td class="sb-top"><%= Math.round((item.medAB[4] /item.data.length) *100) %>% </td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </td>
                    <td class="sf-12" style="width: 10%;">
                        <br> _______________________ <br>
                        FIRMA TUTOR
                    </td>
                </tr>
                <br>
            </tbody>
        </table>
    </div>
    <div style="page-break-before:always;"></div>
</div>
<% }) %>