<style>
    .s-contenedor{
        margin-top: 0.5rem;color: #000; font-family: Arial, Helvetica, sans-serif;background: #fff;
    }
    .s-centro{
        text-align: center
    }
    .s-derecha{
        text-align: right
    }
    .s-izquierda{
        text-align: left
    }
    .sf-104{
        font-size: 10.4px;
    }
    .sf-12{
        font-size: 12px;
    }
    .sf-14{
        font-size: 14px;
    }
    .sf-16{
        font-size: 16px;
    }
    .sfz-600{
        font-weight: 600;
    }
    .s-parrafo{
        text-align: justify ;line-height: 1.5;
    }
    .s-tabla{
        width: 100%;
    }
    .s-base-tabla{
        margin-top: 28px; border-color: #000;border-style: solid;border-width: 0px 1px 1px;max-width: 100%; width: 100%; border-spacing: 0; border-collapse: separate;
    }
    .s-first { width: 15%; }
    .s-last { width: 70%; }
    .s-fill { width: 15%; }
    .s-img{
        height: 60px
    }
    .s-img2{
        width: 60px
    }
    .sb-button{
        border-bottom: 1px solid #000;
    }
    .sb-top {
        border-top: 1px solid #000;
    }
    .sb-right {
        border-right: 1px solid #000;
    }
    .s-padding {
        padding: 8px 10px;
    }
</style>
<% result?.forEach(function (item) { %>
    <div  class="s-hojas s-contenedor">
        <div class="p-4 s-centro">
            <table class="s-tabla">
                <tbody>
                    <tr>
                        <td class="s-first">
                            <img class="s-img" src="https://res.cloudinary.com/stebann/image/upload/v1681418309/logo-ministerio-educacion_fvcptq.png" alt="Logo" />
                        </td>
                        <td class="s-last">
                            <div class="s-centro">
                                <span class="sfz-600 sf-16">
                                    <%= auth.unidadeducativa %>
                                </span><br>
                                <p class="s-centro sf-12">
                                    Dirección:  <%= auth.direccion %>  Teléf: <%= auth.telefono %>  <br>
                                    <%= auth.ubicacion %> 
                                </p>
                            </div>
                        </td>
                        <td class="s-fill">
                            <img class="s-img2" src="<%=auth.logo%>" alt="Logo" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <table class="s-tabla">
                <tbody>
                    <tr class="sf-12">
                        <td class="s-izquierda" style="width: 50%;">
                            <span>CURSO : <b><%= item.curso.nombre %> / <%= item.paralelo %></b></span> <br>
                            <span>ESTUDIANTE: <b><%= item.fullname %></b></span>
                        </td>
                        <td style="width: 10%;">
                            <div class="s-centro">
                                CÓDIGO : <%= item.nmatricula %>
                            </div>
                        </td>
                        <td class="s-derecha" style="width: 40%;">
                            <span>PERIODO: <b><%= item.periodo.nombre %></b></span><br>
                            <span>FECHA: <%= fechaA %></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="s-base-tabla" >
                <thead>
                    <tr style="border-width: 1px 0px 0px;">
                        <th class="sb-button sb-top sf-104 s-padding">
                            ÁMBITO
                        </th>
                        <th class="sb-button sb-top sf-104 s-padding">
                            1° TRIM
                        </th>
                        <th class="sb-button sb-top sf-104 s-padding">
                            2° TRIM
                        </th>
                        <th class="sb-button sb-top sf-104 s-padding">
                            3° TRIM
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% item.ambitos.forEach(function (subItems, index) { %>
                        <tr >
                            <td class="sb-button sb-right sf-104">
                                <%= subItems.amb %> </td>
                            <td class="sb-button sb-right sf-104">
                                <%= subItems.reg1 %>
                            </td>
                            <td class="sb-button sb-right sf-104">
                                <%= subItems.reg2 %>
                            </td>
                            <td class="sb-button sf-104">
                                <%= subItems.reg3 %>
                            </td>
                        </tr>
                    <% }) %>
                    
                </tbody>
            </table>
            <div style="margin-top: 5rem;">
                <table class="s-tabla">
                    <tbody>
                      <tr>
                        <td colspan="6">
                          <div class="s-centro">
                            <b>______________________________</b><br>
                            <p class="sf-14">
                              <b><%= auth.rector %></b><br>
                              RECTOR/A
                            </p>
                          </div>
                        </td>
                        <td colspan="6">
                          <div class="s-centro">
                            <b>_____________________________</b><br>
                            <p class="sf-14">
                              TUTOR/A
                            </p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                 <br> <br><br>
            </div>
        </div>
        <div style="page-break-before:always;"></div>
    </div>
    <% }) %>